Source: qirp-sdk
Section: misc
Priority: optional
Maintainer: Dapeng Yuan <dapeyuan@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13)
Homepage:
Standards-Version: 3.9.2

Package: qirp-sdk
Architecture: any
Depends: ${misc:Depends},
         ros-jazzy-simulation-remote-assistant,
         ros-jazzy-sample-depth-estimation,
         ros-jazzy-sample-face-detection,
         ros-jazzy-sample-hand-detection,
         ros-jazzy-sample-hrnet-pose-estimation,
         ros-jazzy-sample-object-detection,
         ros-jazzy-sample-object-segmentation,
         ros-jazzy-sample-resnet101,
         ros-jazzy-qrb-amr-manager,
         ros-jazzy-qrb-follow-path-manager,
         ros-jazzy-simulation-sample-amr-simple-motion,
         ros-jazzy-simulation-sample-pick-and-place,
         ros-jazzy-orbbec-camera,
         ros-jazzy-ocr-service,
         ros-jazzy-qcom-cartographer-ros,
         ros-jazzy-qrb-inference-manager (>= 1.1.1),
         ros-jazzy-qrb-ros-audio-service,
         ros-jazzy-qrb-ros-audio-common,
         ros-jazzy-qrb-ros-amr-msgs,
         ros-jazzy-qrb-ros-battery,
         ros-jazzy-qrb-ros-benchmark,
         ros-jazzy-qrb-ros-camera (>= 2.0.1),
         ros-jazzy-qrb-ros-colorspace-convert,
         ros-jazzy-qrb-ros-imu,
         ros-jazzy-qrb-ros-system-monitor,
         ros-jazzy-qrb-ros-video,
         ros-jazzy-qrb-ros-yolo-process,
         ros-jazzy-rplidar-ros (>= 2.1.2),
         libqrb-video-v4l2-1 (>= 0.1.2),
         libqrb-video-v4l2-dev (>= 0.1.2),
         qcom-battery-client,
         qcom-battery-service,
         ros-jazzy-dmabuf-transport,
         ros-jazzy-lib-mem-dmabuf,
         ros-jazzy-ocr-msg,
         ros-jazzy-orbbec-camera-msgs,
         ros-jazzy-qcom-cartographer,
         ros-jazzy-qrb-camera (>= 2.0.1),
         ros-jazzy-qrb-colorspace-convert-lib,
         ros-jazzy-qrb-ros-amr,
         ros-jazzy-qrb-ros-cv-tensor-common-process,
         ros-jazzy-qrb-ros-follow-path,
         ros-jazzy-qrb-ros-navigation-msgs,
         ros-jazzy-qrb-ros-nn-inference (>= 1.1.1),
         ros-jazzy-qrb-ros-slam-msgs,
         ros-jazzy-qrb-ros-system-monitor-interfaces,
         ros-jazzy-qrb-ros-tensor-list-msgs,
         ros-jazzy-qrb-ros-transport-image-type,
         ros-jazzy-qrb-ros-transport-imu-type,
         ros-jazzy-qrb-ros-transport-point-cloud2-type,
         ros-jazzy-qrb-ros-video-test,
         ros-jazzy-qrb-ros-vision-msgs,
         ros-jazzy-qrb-sensor-client (>= 1.3.0),
         ros-jazzy-qrb-yolo-process,
         ros-jazzy-ros2-benchmark,
         ros-jazzy-ros2-benchmark-interfaces,
         ros-jazzy-ros-base,
         libqnn-dev,
         libqnn1,
         qnn-tools,
         python3-pip,
Description: The Qualcomm® Intelligent Robotics (QIR) SDK is a collection of components that enable you to develop robotic features on Qualcomm platforms. This SDK is applicable to the Qualcomm Linux releases.
