Source: qirp-sdk
Section: misc
Priority: optional
Maintainer: Dapeng Yuan <dapeyuan@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13)
Homepage:
Standards-Version: 3.9.2

Package: qirp-sdk
Architecture: any
Depends: ${misc:Depends},
         libqrb-video-v4l2-1,
         libqrb-video-v4l2-dev,
         qcom-battery-client,
         qcom-battery-service,
         ros-jazzy-dmabuf-transport,
         ros-jazzy-lib-mem-dmabuf,
         ros-jazzy-ocr-msg,
         ros-jazzy-ocr-service,
         ros-jazzy-orbbec-camera,
         ros-jazzy-orbbec-camera-msgs,
         ros-jazzy-qrb-inference-manager,
         ros-jazzy-qrb-ros-battery,
         ros-jazzy-qrb-ros-cv-tensor-common-process,
         ros-jazzy-qrb-ros-nn-inference,
         ros-jazzy-qrb-ros-system-monitor,
         ros-jazzy-qrb-ros-system-monitor-interfaces,
         ros-jazzy-qrb-ros-tensor-list-msgs,
         ros-jazzy-qrb-ros-transport-image-type,
         ros-jazzy-qrb-ros-transport-imu-type,
         ros-jazzy-qrb-ros-transport-point-cloud2-type,
         ros-jazzy-qrb-ros-video,
         ros-jazzy-qrb-ros-vision-msgs,
         ros-jazzy-qrb-ros-yolo-process,
         ros-jazzy-qrb-sensor-client,
         ros-jazzy-rplidar-ros,
         ros-jazzy-sample-hand-detection,
         ros-jazzy-simulation-sample-amr-simple-motion,
         ros-jazzy-ros-base,
         libqnn-dev,
         libqnn1,
         qnn-tools,
         python3-pip
Description: The Qualcomm® Intelligent Robotics (QIR) SDK is a collection of components that enable you to develop robotic features on Qualcomm platforms. This SDK is applicable to the Qualcomm Linux releases.
