Source: ros-jazzy-simulation-sample-pick-and-place
Section: misc
Priority: optional
Maintainer: root <tengf@qti.qualcomm.com>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-eigen-stl-containers, ros-jazzy-geometry-msgs, ros-jazzy-moveit-msgs, ros-jazzy-moveit-ros-planning-interface, ros-jazzy-rclcpp, ros-jazzy-std-msgs, ros-jazzy-trajectory-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-simulation-sample-pick-and-place
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-eigen-stl-containers, ros-jazzy-geometry-msgs, ros-jazzy-moveit-configs-utils, ros-jazzy-moveit-msgs, ros-jazzy-moveit-planners, ros-jazzy-moveit-ros-planning-interface, ros-jazzy-moveit-simple-controller-manager, ros-jazzy-rclcpp, ros-jazzy-std-msgs, ros-jazzy-trajectory-msgs
Description: ROS2 package for robot arm pick and place operations using MoveIt
