<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rml_63_gripper_ros2_control" params="ns:='' topic_ns:='' initial_positions_yaml_path ros2_controllers_yaml_path">
    <xacro:property name="namespace" value="${ns + '/' if ns != '' else ''}" />
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_yaml_path)['initial_positions']}"/>
    <!-- ros2_control -->
    <ros2_control name="GazeboSimSystem" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      <joint name="${namespace}joint1">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint1']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint2">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint2']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint3">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint4">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint4']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint5">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint5']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint6">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint6']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint01">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint01']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint11">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint11']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint02">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint02']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
      <joint name="${namespace}joint22">
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint22']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

    <!-- ros2_control plugin -->
    <gazebo>
      <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <ros>
          <namespace>${topic_ns}</namespace>
        </ros>
        <parameters>${ros2_controllers_yaml_path}</parameters>
        <robot_param>robot_description</robot_param>
        <robot_param_node>robot_state_publisher</robot_param_node>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>